<div class="grid">
  <div class="col-12">
    <button pButton type="button" icon="pi pi-arrow-left" label="Go back" pTooltip="Conversion jobs"
            class="p-button-link" [routerLink]="['/teacher']">
    </button>
  </div>
</div>

<div class="p-card m-5 p-5">
  <h1>
    Create new test!
  </h1>

  <form>
    <div class="grid">
      <div class="col-12">
        <p-fieldset legend="Test name and assigned students" [toggleable]="true">
          <div class="grid p-fluid">
            <div class="col-6">
              <div class="p-inputgroup">
              <span class="p-float-label">
                <input pInputText id="testName" name="testName" />
                <label for="testName">Test name</label>
              </span>
              </div>
            </div>
            <div class="col-6">
              <span class="p-float-label">
                <p-multiSelect [options]="studentNames" display="chip" id="assignedStudents" name="assignedStudents"></p-multiSelect>
                <label for="assignedStudents">Assigned students</label>
              </span>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="col-12">
        <p-fieldset legend="Questions" [toggleable]="true">
          <div class="grid p-fluid">
            <div class="col-4">
              <div class="grid p-fluid">
                <div class="col-12">
                  <button pButton type="button" class="p-button-outlined p-button-info" label="Add checkbox question"></button>
                </div>
                <div class="col-12">
                  <app-create-question [questionType]="checkBoxQuestionType"></app-create-question>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="grid p-fluid">
                <div class="col-12">
                  <button pButton type="button" class="p-button-outlined p-button-info" label="Add radiobutton question"></button>
                </div>
                <div class="col-12">
                  <app-create-question [questionType]="radioButtonQuestionType"></app-create-question>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="grid p-fluid">
                <div class="col-12">
                  <button pButton type="button" class="p-button-outlined p-button-info" label="Add string question"></button>
                </div>
                <div class="col-12">
                  <app-create-question [questionType]="stringQuestionType"></app-create-question>
                </div>
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
  </form>
</div>
