<div class="grid">
  <div class="col-12">
    <button pButton type="button" icon="pi pi-arrow-left" label="Go back" pTooltip="Conversion jobs"
            class="p-button-link" [routerLink]="['/student']">
    </button>
  </div>
</div>


<div class="p-card m-5 p-5 p-fluid">
  <h1>{{test?.testName}}</h1>
  <div class="grid">
    <div *ngFor="let question of test?.questions" class="col-12">
      <div [ngSwitch]="question?.questionType">
        <div *ngSwitchCase="stringQuestionType">
          <app-string-question [question]="question" (answer)="onAnswer($event)"></app-string-question>
        </div>
        <div *ngSwitchCase="checkboxQuestionType">
          <app-checkbox-question [question]="question" (answer)="onAnswer($event)"></app-checkbox-question>
        </div>
        <div *ngSwitchCase="radiobuttonQuestionType">
          <app-radiobutton-question [question]="question" (answer)="onAnswer($event)"></app-radiobutton-question>
        </div>
      </div>
    </div>
  </div>
  <div class="grid p-fluid">
    <div class="col-12">
      <button pButton type="submit" class="p-button-outlined p-button-success p-button-lg" label="Submit answer"
              icon="pi pi-check" (click)="onSubmit()"></button>
    </div>
  </div>
</div>
